header {
    background: white;
    color: #c0c4ca;
    text-align: center;
    border-bottom: 1px solid #c0c4ca;
    margin: 5px auto;
}
h1,p{
    color: #969ba1;
    text-align: center;
}
form{
    margin: 0 auto;
}
table{
    margin:5px auto;
    border-collapse: collapse;
}
td{
    border: 1px solid #d4d8df;
    border-radius: 5px;
    text-align: center;
    padding: 15px;
}
tr:first-of-type{
    background: #fbfbfd;
    color:#969ba1;
}
tr:hover{
    background: #fff7e4;
}
input[type="button"],button{
    padding: 5px;
    background: #4097dc;
    color: white;
    border-radius: 10px;
    border-color: #4097dc;
}
#white{
    background: white;
    color: #d4d8df;
    border-color: #d4d8df;
}
footer{
    color: #ecedee;
    border-top: 1px solid #ecedee;
    padding: 30px;
}
